{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Products Page {% endblock title %}

{% block content %}

{% for product in object_list  %}
<div class="card">
    <div class="card-header">
    
    <a href="{% url 'product_detail' pk=product.id %}">{{product.name}}</a>
        
    </div>
    <div class="card-body">
        {{product.description}}
        {% if product.image  %}
      <img src="{{ product.image.url }}" alt="" width="100">
        {% else %}
        <p></p>
        {% endif %}        
    </div>
    <div class="card-footer text-center text-muted" >
        <a href="#">Edit</a> | | <a href="#" > Delete </a>

 

    </div>
      
</div>
{% endfor %}
{% endblock content %}
